.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*.weights
tpe_recognition/data/cam_1_imgs/**
tpe_recognition/data/yolo_data/bin/*.weights
tpe_recognition/utils/.ipynb_checkpoints/**
tpe_recognition/utils/__pycache__/**
tpe_recognition/data/train/*
tpe_recognition/data/test/*
tpe_recognition/**/.ipynb_checkpoints
tpe_recognition/**/.ipynb_checkpoints/*
tpe_recognition/bin/cnn_trainer/.ipynb_checkpoints/
facenet/**/*
facenet/*
tpe_recognition/data/cam_1_xml_hand/*.xml
tpe_recognition/utils/test_build/bin/*
plan.txt
tpe_recognition/utils/summary/*
tpe_recognition/data/cam_1_hand_markup/to_xml_boundary/train/*.xml
tpe_recognition/data/cam_1_hand_markup/to_xml_boundary/test/*.xml
tpe_recognition/data/cam_1_hand_markup/to_xml_boundary_2/*/*.xml
verificator/verificator/__pycache__/*
verificator/verificator/deep_sort/resources/**
verificator/.ipynb_checkpoints/*
verificator/.ipynb_checkpoints/**
facenet/
tpe_recognition/bin/deep_sort/resources/**
tpe_recognition/bin/tpe/deep_sort/resources/**
verificator/**/*.pyc
**/.pyc

